
@font-face {
    font-family: titulos;
    src: url("../fonts/Podkova-Medium.ttf");
}

@font-face {
    font-family: parrafos;
    src: url("../fonts/SignikaNegative-Light.ttf");
}

p, a {
    font-family: parrafos;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    font-family: titulos;
}

.navbar {
    z-index: 1050;
}

.vh-90 {
    height: 90vh;
    object-fit: cover;
}

.bg-color {
    background-color: #0D0C0C;
}

.link-color {
    color: #0D0C0C;
}

.bg-energia {
    background-color: #ad10a0;
}

.link-energia {
   color: #ad10a0;
}

.link-instagram {
    color: #f58f09;
 }

.glass {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    background-color: rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(5px);
}

.nav-link:hover {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.34);
}

.progress-widht-height {
    width: 80%;
    height: 20px;
}

@media (max-width: 769px) {
    .progress-widht {
        width: 90%;
    }
}

.text-indent {
    text-indent: 11vw;
}

.footer-responsive {
    position: absolute;
}

@media (max-width: 1300px) {
    .footer-responsive {
        position: relative;
    }
}

.link {
    text-decoration: none;
}

.link:hover {
    color: rgba(255, 127, 7, 0.897);
}